<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h1>Exercice 1</h1>
      <app-mini-word></app-mini-word>

      <h1>_______________________________________________</h1>

      <h1>Exercice 2</h1>
      <input type="text" class="form-control" appArcEnCiel>

      <h1>_______________________________________________</h1>

      <h1>Exercice 3</h1>
      <div class="radio">
        <input type="radio" value="MyClass1" name="gender" [(ngModel)]="MyClass" checked > Class1
        <input type="radio" value="MyClass2" name="gender" [(ngModel)]="MyClass" > Class2
        <input type="radio" value="MyClass3" name="gender" [(ngModel)]="MyClass" > Class3
      </div>
        <p [ngClass]="MyClass">this is a paragraphe for exercice 3</p>

      </div>

    </div>
</div>

